.container {
    background-color: #F8FBFB;
    padding: 6.25rem 15.65vw;
}
.heading {
    margin-bottom: 3rem;
}
.heading h2 {
    color: #0E0F0F;
    font-size: 2.85rem;
    font-weight: 700;
    line-height: 3.7rem;
    text-align: center;
    margin-bottom: 2rem;
}
.heading p {
    color: #828787;
    font-size: 1.1rem;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.qa {
    margin-bottom: 1.75rem;
}
.qa h4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5.5rem;
    border-bottom: 1px dotted #DAE1E2;
    padding: 0.5rem;
    margin-bottom: 1.2rem;
}
.qa h4:hover {
    cursor: pointer;
}
.qa h4 span {
    color: #0E0F0F;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.4;
}
.qa p {
    color: #828787;
    font-size: 1.08rem;
    padding-left: 0.5rem;
    padding-right: 6.5rem;
}
.collapseIcon {
    width: 1.5rem;
    margin-top: 0.4rem;
}

@media only screen and (max-width: 1050px) {
    .heading p {
        max-width: 60vw;
    }
    .qa p {
        padding-right: 5.5rem;
    }
}
@media only screen and (max-width: 920px) {
    .qa h4 {
        gap: 3rem;
    }
}
@media only screen and (max-width: 767px) {
    .qa p {
        padding-right: 4.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        padding: 6.25rem 6.5vw;
    }
    .heading p {
        max-width: 85vw;
    }
    .qa h4 {
        gap: 1.75rem;
    }
    .qa p {
        padding-right: 3.5rem;
    }
}